.table {
  border-radius: 0 0 16px 16px;
  width: 100%;
  height: calc(100% - 63px);
  &__body {
    width: inherit;
    height: calc(100% - 40px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
