<form class="form" #orderForm="ngForm" (ngSubmit)="addOrder(orderForm.value)">
  <mat-form-field class="form__input">
    <mat-label>Order name</mat-label>
    <input matInput type="text" name="orderName" ngModel placeholder="Write name of order" required />
  </mat-form-field>

  <mat-form-field class="form__input">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" name="quantity" ngModel placeholder="How many" required />
  </mat-form-field>

  <mat-form-field class="form__input">
    <mat-label>Unit price</mat-label>
    <input matInput type="number" name="unitPrice" ngModel placeholder="Give me price" required />
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" class="form__button">
    <p class="form__button__text">Add order</p>
  </button>
</form>
